[buildout]
extends =
    buildout.cfg
    https://raw.githubusercontent.com/unixelias/plone.idg/master/versions/1.1.5.3/versions.cfg
    https://raw.githubusercontent.com/plonegovbr/portal.buildout/master/buildout.d/maintenance.cfg

[instance]
eggs +=
# Extensões mantidas pela comunidade PloneGov-BR
	brasil.gov.portal
	brasil.gov.facetada
	brasil.gov.vlibrasnews
	collective.opendata
# Extensões mantidas pelo Plone
	plone.app.ldap
	collective.lineage
	collective.geo.bundle
	collective.behavior.banner
	collective.polls
	Products.EasyNewsletter
  plone.recipe.varnish

[versions]
brasil.gov.portal = 1.1.5.1

[varnish-build]
recipe = zc.recipe.cmmi
url = https://repo.varnish-cache.org/source/varnish-4.1.8.tar.gz

[varnish]
recipe = plone.recipe.varnish
daemon = ${buildout:parts-directory}/varnish-build/sbin/varnishd
bind = varnish:6081
backends = 127.0.0.1:8080
cache-size = 1G
