version: "2"
services:
  varnish:
    hostname: 'varnish'
    image: eeacms/varnish
    restart: 'always'
    depends_on:
      - haproxy
    ports:
      - 8080:6081/tcp
    environment:
      - BACKENDS=haproxy
      - BACKENDS_PORT=5000
      - BACKENDS_PROBE_INTERVAL=3s
      - BACKENDS_PROBE_THRESHOLD=2
      - BACKENDS_PROBE_TIMEOUT=1s
      - BACKENDS_PROBE_WINDOW=3
      - DNS_ENABLED=true

  haproxy:
    image: eeacms/haproxy
    restart: 'always'
    depends_on:
      - ploneidg
    ports:
      - 1936:1936
    environment:
      - BACKENDS=ploneidg
      - BACKENDS_PORT=8080
      - SERVICE_NAMES=ploneidg
      - DNS_ENABLED=true
      - STATS_AUTH=admin:admin

  zeoserver:
    hostname: 'zeoserver'
    image: unixelias/plone.idg:1.1.5-dev
    command:
      - zeoserver
    volumes:
    - data-filestorage:/data/filestorage
    - data-blobstorage:/data/blobstorage
    - data-backups:/data/backups
    - data-blobstoragebackups:/data/blobstoragebackups

  ploneidg:
    image: unixelias/plone.idg:1.1.5-dev
    depends_on:
      - zeoserver
    environment:
      - ZEO_ADDRESS=zeoserver:8100
volumes:
  data-filestorage:
    external: true
  data-blobstorage:
    external: true
  data-backups:
    external: true
  data-blobstoragebackups:
    external: true
