  haproxy:
    image: eeacms/haproxy
    restart: 'always'
    ports:
    - 8080:5000
    - 1936:1936
    links:
    - plonegovbridg
    environment:
    - BACKENDS_PORT=8080
    - SERVICE_NAMES=plone

  plonegovbridg:
    image: unixelias/portal.docker:latest
    links:
    - zeoserver
    volumes_from:
    - 'plone_data'
    - 'plone_data_backup'
    environment:
    - ZEO_ADDRESS=zeoserver:8100
    - PLONE_ADDONS="eea.facetednavigation"

  plone_data:
    container_name: plone_data
    image: busybox
    volumes:
    - '/data/filestorage'
    - '/data/blobstorage'
    command: ['chown', '-R', '500:500', '/data']

  plone_data_backup:
    container_name: plone_data_backup
    image: busybox
    volumes:
    - '/data/backups'
    - '/data/blobstoragebackups'
    command: ['chown', '-R', '500:500', '/data']

  plone_data_zeo:
    container_name: plone_data_zeo
    image: busybox
    volumes:
    - '/data/filestorage'
    - '/data/blobstorage'
    command: ['chown', '-R', '500:500', '/data']

  plone_data_backup_zeo:
    container_name: plone_data_backup_zeo
    image: busybox
    volumes:
    - '/data/backups'
    - '/data/blobstoragebackups'
    command: ['chown', '-R', '500:500', '/data']

  zeoserver:
    hostname: 'zeoserver'
    image: unixelias/portal.docker:latest
    command: ['zeoserver']
    volumes_from:
    - 'plone_data_zeo'
    - 'plone_data_backup_zeo'
    environment:
    - ZEO_SHARED_BLOB_DIR=on
