[buildout]
extends =
    buildout.cfg
    https://raw.githubusercontent.com/unixelias/plone.idg/master/versions/1.1.5.2/versions.cfg
    
eggs +=
# Extensões mantidas pelo Plone
	plone.app.ldap
	collective.lineage
	collective.geo.bundle
	collective.behavior.banner
	collective.polls
	collective.easyform
	Products.OpenXml

parts +=
     backup
     backup-diario

[backup]
recipe = collective.recipe.backup

[backup-diario]
recipe = z3c.recipe.usercrontab
times = 0 3 * * 0-6
command = ${buildout:directory}/bin/backup

[instance]
eggs +=
# Extensões mantidas pela comunidade PloneGov-BR
	brasil.gov.portal
	brasil.gov.facetada
	brasil.gov.vlibrasnews
	collective.opendata
	Products.EasyNewsletter


[versions]
brasil.gov.portal = 1.1.5.1
