[buildout]
index = https://pypi.python.org/simple/
extends =
    buildout.cfg
    https://raw.githubusercontent.com/unixelias/plone.idg/old/versions/1.2/versions.cfg
    https://raw.githubusercontent.com/plonegovbr/portal.buildout/master/buildout.d/maintenance.cfg

[instance]
eggs +=
# Extensões mantidas pela comunidade PloneGov-BR
	brasil.gov.portal
	brasil.gov.facetada
	brasil.gov.vlibrasnews
	collective.opendata
# Extensões mantidas pelo Plone
  plone.app.ldap
  collective.lineage
  collective.geo.bundle
  collective.behavior.banner
  collective.polls
  Products.EasyNewsletter

[versions]
brasil.gov.portal = 1.2
